@model UETFA.Models.Utakmica

@{
    ViewData["Title"] = "Edit";
}
<span style="color:white;">
    <h1>Edit</h1>

    <h4>Utakmica</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <div class="form-group">
                    <label asp-for="statusUtakmice" class="control-label"></label>
                    <input asp-for="statusUtakmice" class="form-control" />
                    <span asp-validation-for="statusUtakmice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="datumUtakmice" class="control-label"></label>
                    <input asp-for="datumUtakmice" class="form-control" />
                    <span asp-validation-for="datumUtakmice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="tim1" class="control-label"></label>
                    <input asp-for="tim1" class="form-control" />
                    <span asp-validation-for="tim1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="tim2" class="control-label"></label>
                    <input asp-for="tim2" class="form-control" />
                    <span asp-validation-for="tim2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="rezultat" class="control-label"></label>
                    <input asp-for="rezultat" class="form-control" />
                    <span asp-validation-for="rezultat" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
