@model UETFA.Models.Tim

@{
    ViewData["Title"] = "Edit";
}
<span style="color:white;">  </span>
    <h1 style="color:white;">Edit</h1>

    <h4  style="color:white;">Tim</h4>
    <hr />
    <div class="row"  style="color:white;">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <div class="form-group">
                    <label asp-for="ime" class="control-label"></label>
                    <input asp-for="ime" class="form-control" />
                    <span asp-validation-for="ime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="datiGolovi" class="control-label"></label>
                    <input asp-for="datiGolovi" class="form-control" />
                    <span asp-validation-for="datiGolovi" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="primljeniGolovi" class="control-label"></label>
                    <input asp-for="primljeniGolovi" class="form-control" />
                    <span asp-validation-for="primljeniGolovi" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="brojOdigranihUtakmica" class="control-label"></label>
                    <input asp-for="brojOdigranihUtakmica" class="form-control" />
                    <span asp-validation-for="brojOdigranihUtakmica" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="trener" class="control-label"></label>
                    <input asp-for="trener" class="form-control" />
                    <span asp-validation-for="trener" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
