@{
    ViewData["Title"] = "Home Page";
}
<span style="color:white;">
    <div class="text-center">
        <h1 class="display-4">Dobrodosli na UETFA!</h1>
        <p>Samo pravi zaljubljenici u sport znaju koliko znači da su rezultati utakmica fudbalske lige na jednom mjestu, stoga, imamo dobre vijesti za Vas: aplikacija UETFA Vam nudi upravo to!</p>
        <p>Pomoću ove aplikacije pratite sve rezultate potpuno besplatno, a za dodatne pogodnosti korištenja aplikacije imamo i Premium opciju za najvjernije fanove. Sve što je potrebno jeste da se registrirate čime ćete dobiti pravo pristupa, a za Premium korisnike imamo opciju internet plaćanja. Kroz našu aplikaciju, korisnicima je omogućen jednostavniji pregled i praćenje rezultata, a za Premium korisnike nudimo pogodnosti praćenja najdražih timova kao i pregled pojedinačnih uspjeha igrača.</p>
    </div>
