@{
    ViewData["Title"] = "Privacy Policy";
}
    <h1 style="color:white;">@ViewData["Title"]</h1>

    <p style="color:white;">Ekipu UETFA čine: Adi Dizdarević, Hana Mušović, Ismail Ičanović i Nisveta Spahić</p>
