@model IEnumerable<UETFA.Models.Premium>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a style="color:white" asp-action="PogledajPogodnosti">Pogledaj pogodnosti</a>
</p>

<p>
    <a style="color:white" asp-action="Create">Unesi podatke</a>
</p>


