@model UETFA.Models.Premium

@{
    ViewData["Title"] = "Pogledaj pogodnosti";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "PogledajPogodnosti";
}

<h2>Pogledaj pogodnosti</h2>


<div class="text-center" style="color:white;">
    <p> 1. Mogućnost otkazivanja Premium paketa u bilo kojem trenutku</p>
    <p>  2. Mogućnost praćenja timova</p>
    <p>  3. Mogućnost pregleda koji igrači su dali gol i asistencija</p>
    <p> 4. Mogućnost gledanja live stream-a</p>
    </p>
</div>
<div>
    <a asp-action="Index">Nazad</a>
</div> 