
@model UETFA.Models.Premium

@{
    ViewData["Title"] = "Pogledaj pogodnosti";
}
<div class="text-center" style="color:white;">
    <p> 1. Mogućnost otkazivanja Premium paketa </p>
    <p>  2. Mogućnost praćenja timova</p>
    <p>  3. Mogućnost pregleda koji igrači su dali gol i asistencija</p>
    <p> 4. Mogućnost gledanja live stream-a</p>
    </p>
</div>

